[submodule "stuff/mosh-upnp-hole-puncher"]
	path = stuff/mosh-upnp-hole-puncher
	url = https://github.com/gcochard/mosh-upnp-hole-puncher.git
[submodule "stuff/adb-sync"]
	path = stuff/adb-sync
	url = https://github.com/google/adb-sync.git
[submodule "stuff/diff-so-fancy"]
	path = stuff/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "stuff/git-repo"]
	path = stuff/git-repo
	url = https://gerrit.googlesource.com/git-repo
[submodule "stuff/q"]
	path = stuff/q
	url = https://github.com/harelba/q.git
[submodule "stuff/oh-my-zsh"]
	path = stuff/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "stuff/powerlevel10k"]
	path = stuff/powerlevel10k
	url = https://github.com/kirb/powerlevel10k.git
