[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/kirb/oh-my-zsh.git
[submodule "stuff/mosh-upnp-hole-puncher"]
	path = stuff/mosh-upnp-hole-puncher
	url = https://github.com/gcochard/mosh-upnp-hole-puncher.git
[submodule "stuff/adb-sync"]
	path = stuff/adb-sync
	url = https://github.com/google/adb-sync.git
[submodule "stuff/rmate"]
	path = stuff/rmate
	url = https://github.com/aurora/rmate.git
